*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 4em;
}

p,
button,
a {
  font-size: 1.5em;
}

.card-background {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 70%;
  overflow: hidden;
  border-radius: 1rem;
}

.sedans,
.suvs,
.luxury {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  padding: 5rem;
  min-height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sedans {
  background: #e38826;
}

.sedans .learn-more a {
  color: #e38826;
}

.suvs {
  background: #006970;
}

.suvs .learn-more a {
  color: #006970;
}

.luxury {
  background: #004241;
}

.luxury .learn-more a {
  color: #004241;
}

.car-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.car-title {
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.car-text,
.learn-more a {
  font-family: "Lexend Deca", sans-serif;
  color: white;
  line-height: 2.5rem;
}

.car-text {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.learn-more a {
  background: white;
  text-align: center;
  text-decoration: none;
  border-radius: 3rem;
  border: white solid 2px;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.learn-more a:hover {
  background: none;
  border: white solid 2px;
  color: white;
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.attribution p {
  font-size: 2rem;
}

.attribution a {
  font-size: 2rem;
  text-indent: 0.7rem;
}

@media screen and (max-width: 1044px) {
  .card-background {
    min-height: 90vh;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
    margin: 5rem 0rem;
  }
  .sedans,
  .suvs,
  .luxury {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 425px;
  }
  .car-logo {
    padding-top: 3rem;
  }
  .car-logo, .car-title, .learn-more {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-bottom: 2rem;
  }
  .car-text {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1495px) {
  .card {
    max-width: 1045px;
  }
}
/*# sourceMappingURL=style.css.map */